{% extends "core/base.html" %}


{% block main_content %}

<div class="min-h-screen flex items-center justify-center bg-gray-50 px-4">
    <div class="w-full max-w-md rounded-xl bg-white p-8 shadow-sm border border-gray-200">

        <!-- Header -->
        <div class="mb-6 text-center">
            <h1 class="text-2xl font-bold text-gray-900">
                Reset Password
            </h1>
            <p class="mt-2 text-sm text-gray-500">
                Create new password
            </p>
        </div>

        <!-- Form -->
        <form method="post" class="space-y-5">
            {% csrf_token %}

            <div>
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700">
                   OTP
                </label>

                <input
                    type="text"
                    name="otp"
                    id="otp"
                    required
                    class="w-full rounded-lg border border-gray-300 px-4 py-2.5 mb-2 text-sm
                           text-gray-900 outline-none transition
                           placeholder:text-gray-400
                           focus:border-blue-500 focus:ring-2 focus:ring-blue-100"
                >
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700">
                   Password
                </label>

                <input
                    type="password"
                    name="password"
                    id="password"
                    required
                    class="w-full rounded-lg border border-gray-300 px-4 py-2.5 mb-2 text-sm
                           text-gray-900 outline-none transition
                           placeholder:text-gray-400
                           focus:border-blue-500 focus:ring-2 focus:ring-blue-100"
                >
                <label for="email" class="mb-2 block text-sm font-medium text-gray-700">
                   Re-enter New Password
                </label>

                <input
                    type="password"
                    name="c-password"
                    id="c-password"
                    required
                    class="w-full rounded-lg border border-gray-300 px-4 py-2.5 mb-2 text-sm
                           text-gray-900 outline-none transition
                           placeholder:text-gray-400
                           focus:border-blue-500 focus:ring-2 focus:ring-blue-100"
                >
            </div>

            <button
                type="submit"
                class="w-full rounded-lg bg-blue-600 px-4 py-2.5 text-sm
                       font-semibold text-white transition
                       hover:bg-blue-700 focus:outline-none
                       focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            >
                Send Reset Link
            </button>
        </form>

        <!-- Back to login -->
        <div class="mt-6 text-center">
            <a
                href="{% url 'login' %}"
                class="text-sm font-medium text-blue-600 hover:text-blue-700"
            >
                ← Back to Login
            </a>
        </div>

    </div>
</div>

{% endblock main_content %}